body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: white;
    overflow-x: hidden;
}

/* Barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    /* margin: 0; Supprime toute marge extérieure */
    background-color: #141e30;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* position: fixed; */
    width: 100%;
    z-index: 100;
}


.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #e50914;
    text-decoration: none;
}

.navbar .nav-links {
    display: flex;
    gap: 20px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #e50914;
}

.navbar .login-btn {
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.navbar .login-btn:hover {
    background-color: #b00610;
}



/* Barre de recherche */
.search-section {
    padding: 50px 20px;
    background-color: #2c3e50;
    text-align: center;
}

.search-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.search-bar button {
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #b00610;
}

/* Footer */
footer {
    padding: 20px;
    background-color: #141e30;
    color: white;
    text-align: center;
}

/*Tableau pour les films */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    background: rgba(255, 255, 255, 0.1); /*Fond transparent cellules*/
}

th {
    background-color: rgba(255, 255, 255, 0.2); /*Fond en-tête*/
}